{% extends "base.html" %}
{% block title %}About Us |{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/aboutus.css" />{% endblock %}

{% block m_about %} class="active" {% endblock %}

{% block content %}

 <div id="content">
 <div class="wrapper">
 <div class="aboutus">
<h1> About Us | TEDxNITCalicut</h1>
 <p>TEDxNITCalicut is an independently organized conference presented by a group of passionate TED enthusiasts under the exclusive license from TED. The annual conference gathers some of the best minds from varied spheres of expertise under one roof, from entrepreneurs to artists, technocrats to economists. We aim to provide attendees with an opportunity to discover some of the world&rsquo;s greatest ideas, and inspire them to be the positive change that will impact the future.&nbsp;</p>
<p>The inaugural edition in January 2012 featured prominent architect Prof. Krishna Rao Jaisim, violin prodigy Athira, social worker Gopinath Parayil and noted inventor Praveen Vettiyattil, among other speakers who motivated and entertained the audience.&nbsp;</p>
<p>The meet is all about ideas: inspiring, discovering, generating and sharing &ldquo;Ideas Worth Spreading&rdquo; in different areas. We believe in sharing the platform with people with great ideas that can not only inspire but also uncover fresh perspectives on how to make this world a better place.</p>
<p>The 2013 conference is scheduled to take place on ________ in Chanakya Hall at National Institute of Technology Calicut, Kerala.</p>
<p>So this time, come prepared to break all the bonds that have limited your ability to think, create and innovate. We hope you find the event interesting, entertaining and above all inspiring.</p>
<p>In order to participate in the event you must actively contribute to its activities - present an idea, host or contribute to an activity, or just be willing to network with a lot of people.</p>
<p><strong>Participation is subject to registration.</strong></p>
<p>The team has been exploring all sorts of ideas to make this a unforgettable event. Be patient with us and wait until you see what all we have got for you. Till then, <a class="red" href="http://twitter.com/TEDxNITCalicut" target="_blank">join the conversation</a> <a class="red" href="https://www.facebook.com/TEDxNITCalicut?sk=wall" target="_blank">online</a> or <a class="red" href="/contactus/">in person</a> to get involved.</p>
</div>
</div>
</div>
{% endblock %}
