{% extends "base.html" %}
{% block title %}Partners |{% endblock %}

{% block rightmenu %} {% endblock %}
{% block content %}
<div id="space">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/partners.css" />
<div id="content">
<div class="wrappers">
<div id="partners_content">
<p>TEDxNITCalicut is a not-for-profit annual event presented by a group of passionate TED enthusiasts under the exclusive license from TED. The inaugural edition in January 2012 witnessed an intriguing line-up of speakers from all walks of life - from entrepreneurs to artists, technocrats to economists &ndash; sharing their path-breaking ideas and life experiences with the audience. &nbsp;</p>
<p>The 2013 event will strive to push the bar even higher, bringing together some active thinkers and doers: inspiring, discovering, generating and sharing &ldquo;Ideas worth Spreading&rdquo; in various disciplines. As in the previous year, the event will be open to a precisely curated audience, and the talks will be recorded and made available online to a wider audience.</p>
<p>As a not-for-profit event organized entirely by local and unpaid volunteers, TEDxNITCalicut cannot happen without the help of supporting partners. By becoming a TEDxNITCalicut partner you partake in an engaging discussion with a vibrant group of participants. You also help bring together organizations and individuals who want to make a difference, fuelling a local and global conversation leading to positive change. Last but not the least, becoming a TEDxNITCalicut partner helps pave the way for a long term partnership with TED and TEDx with a common vision of leveraging ideas, technologies, design and education to create a better future. We seek both in-kind and financial partnership. Please review our Partnership Brochure to determine the best way for your company and organization to join TEDxNITCalicut. The sooner you get involved, the more exposure your venture will get. Thanks and we look forward to hearing from you soon!</p>
<h4 > <a class="red" href="{{STATIC_URL}}files/TEDxNITCalicut-sponsorship-brochure.pdf"> Download our Partnership Brochure</a></h4>
</div>
<div class="contentbox">
	<div class="platinum">
		<p class="img_partner"><a href="http://www.profoundis.com/"><img style="vertical-align: top; border: 0px solid black;" src="{{STATIC_URL}}images/partners/profoundis_logo.PNG" alt="" width="230" height="49" /></a></p>
		<span class="desc"> Online Presence Partner </span>
		<hr />


	</div>
</div>
</div>
</div>
</div>
{% endblock %}