<html>
<body>
<h3>Nominator Information<h3>
Full Name of the Nominator:  {{ form.nominator_name }} 

Email: {{ form.nominator_email }}

Phone Number: {{ form.nominator_phone }} 


<h3>Nominee Information</h3>
Full Name of the Nominee: {{ form.fullname }}  
</br>
Nominee's Email: {{ form.email }}
Nominee's Phone Number:  {{ form.phone }} 
<b> Tell us briefly about the speaker: </b>
Occupation? Honors or Distinctions? Recent Work? 
</br>
<p> {{ form.description }} </p>
<b> What is the presenter's "Idea Worth Spreading"? What is unique about this performer? </b>

Why should TEDxNITCalicut experience this speaker? 

<p>{{ form.support }}</p>

<b>Additional Reference:</b>

Please provide links to any articles, videos or web pages about the nominee.

<p>{{ form.reference1 }}</p>
</body>
</html>